														/*   basic styles     */



h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
body {
	background-color: rgb(22, 34, 43);
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}
li {
	color: white;
	font-weight: 700;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
}
a{
	color:white;
	font-size: .95em;
	font-weight: 600;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
p{
	color:white;
	font-size: .95em;
	font-weight: 600;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
											      /*       Navagation styles*/


.nav-button{
	margin:10px;
	border-radius:5%;
	padding:5px;
	/*background-color: green;*/
}
.nav-button:hover{
	transform: scale(1.07);
	color: white;
}
a:hover{
	color:white;
}

 .nav{
	display: flex;
	justify-content: flex-end;
	background-color: #3d3d3d;
	margin-top: 0px;
}

											/*       Application styles*/


#app{
	box-shadow:5px 5px black;
	padding:.5em 1em;
	margin: auto;
	background-color:grey;
	border-radius:.8em;
	width: 380px;   /*30% on large screens*/


}
#calcDisplay{
	height:2em;
	font-size: 5rem;
	width:98%;
	text-align: right;
	margin-bottom:.2em;
	background-color: lightgray;
	border: 1px solid black;
	color:black;
}
#keys{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
button {
  flex:1 70px;
  height: 70px;
  width: 70px;
  border-radius: 3px;
  margin:.2em;
  border: 1px solid black;
  background-color: lightgray;
  font-size: 2rem;
  text-shadow: 0 1px rgba(255,255,255,.4);
  color:black;
}
button:hover {
  background-color: #eaeaea;
}
#clear{
  background-color: red;
  border-color: #black;
  color: white;
  flex-grow: 2;
}
#equalSign{
  flex:14;
  background-color: #2e86c0;
  border-color: #black;
  color: white;
}

											/* media query for larger screens*/

@media (min-width: 1024px){

											/*    Application styles Larger screen */

	#app{

		box-shadow:5px 5px black;
		padding:.5em 1em ;
		margin: 50px auto;
		background-color:grey;
		border-radius:.8em;
		width: 680px;   /* 80% on small screens*/

	}
	button {
	  flex:1 150px;
	  height: 150px;
	  width:150px;
	  border-radius: 3px;
	  margin:.2em;
	  border: 1px solid #black;
	  background-color: lightgray;
	  font-size: 2rem;
	  text-shadow: 0 1px rgba(255,255,255,.4);
	  color:black;
	}

	#equalSign{
	  flex:36;
	  background-color: #2e86c0;
	  border-color: #black;
	  color: white;
	}


}
